---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.id },
    props: project,
  }));
}

type Props = CollectionEntry<"projects">;
const project = Astro.props;

const { Content } = await render(project);
---

<Layout
  siteTitle={"Proyecto - " + Astro.props.data.title}
  siteDescription={Astro.props.data.description}
  headerCosmeticText="PROJECT"
>
  <Section class="prose-lg p-8">
    <Content />
  </Section>
</Layout>
