@font-face {
    font-family: FoundryGridnik;
    src: url(assets/font/FoundryGridnik_Regular.otf) format("opentype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'FoundryGridnik';
}